/* --------------- SETUP SNIPPET --------------- */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* --------------- GLOBAL STYLING --------------- */
/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;400&family=Great+Vibes&display=swap');

/* stripping default styling & creating custom default styling */
*,
p, 
h1,
h2, 
h3,
a,
button,
form {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body, html { 
    overflow-x:hidden; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
	max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

/* global button styling */
/* close wishlist & close modal button */
.exit-btn {
	border: none;
	background-color: transparent;
	font-size: 4rem;
	cursor: pointer;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
	align-self: flex-start;
	margin-top: 10px;
}

.exit-btn:hover,
.exit-btn:focus {
	color: #808080e0;
}


/* --------------- HEADER STYLING --------------- */
/* general header & h1 styling */
header {
	min-height: 65vh;
	padding: 80px 0 30px 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('https://i.ibb.co/p20yrWZ/header-banner.jpg');
	background-position: 50% 80%;
	background-size: cover;
	background-attachment: fixed;
	background-color: #9a9bd4;
	margin-bottom: 70px;
	display: flex; 
	align-items: center;
	justify-content: center;
}

.heading-container {
	display: flex; 
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 9rem;
	text-align: center;
	width: 750px;
}

/* navigation styling */
header nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 100%;
	z-index: 10;
	padding: 7px 0;
	background-color: #9a9bd4;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.nav-btn-container {
	display: flex;
	justify-content: flex-end;
	padding: 0 10px;
}

.nav-btn {
	border: none;
	background-color: transparent;
	font-size: 3rem;
	cursor: pointer;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
	margin-left: 20px;
}

.nav-btn:hover,
.nav-btn:focus {
	color: #808080e0;
}


/* --------------- MAIN STYLING --------------- */
/* general layout */
.main-container {
	display: flex;
}

.browse-aside {
	width: calc(15% - 10px);
	margin-right: 20px;
}

.wallpapers-section {
	width: calc(85% - 10px);
}

/* browse (aside) section */
.browse-container {
	margin-bottom: 40px;
	font-size: 1.7rem;
	font-family: 'Biryani', sans-serif;
}

.browse-container p {
	margin: 5px 0;
	font-weight: bold;
}

.browse-btns {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.5rem;
}

.browse-btns button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 5px 0;
	font-style: italic;
}

.browse-btns button:hover,
.browse-btns button:focus,
.browse-btns button:active {
	color: #9a9bd4;
}

/* wallpaper section */
.wallpaper-container {
	display: flex;
	flex-wrap: wrap;
}

.wallpaper-image {
	width: 100%;
	overflow: hidden;
	object-position: 50% 100%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	position: relative;
}

.wallpaper-card {
	width: calc(100% / 3 - 20px);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10px 75px 10px;
}

.wallpaper-card h2 {
	font-family: 'Biryani', sans-serif;
	font-size: 2rem;
	margin: 10px 0 5px 0;
}

.wallpaper-card p {
	font-family: 'Biryani', sans-serif;
	font-size: 1.5rem;
	font-style: italic;
}

.wallpaper-card button {
	font-family: 'Biryani', sans-serif;
	text-transform: uppercase;
	font-size: 1.3rem;
	border: none;
	background-color: #9a9bd4;
	padding: 15px 20px 9px 20px;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
	margin-top: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.wallpaper-card button:hover,
.wallpaper-card button:focus {
	background-color: #8EAA83;
}

.wallpaper-card button:active {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

/* wishlist sticker styling */
.star-sticker {
	color: #f0d8be;
	font-size: 2.5rem;
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 9;
}


/* --------------- MODAL STYLING --------------- */
.modal {
	position: fixed; 
	left: 0; 
	top: 0;
	bottom: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .modal-border {
	border-radius: 15px;
	border: 4px solid #9a9bd4;
	padding: 30px 35px 50px 35px;
} */

.modal-box {
	font-family: 'Biryani', sans-serif;
	font-size: 1.5rem;
	line-height: 2.7rem;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)), url('https://i.ibb.co/BqG1C9f/IMG-5114.jpg');
	background-position: 50% 80%;
	background-size: cover;
	width: 300px;
	border-radius: 15px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 30px 35px 50px 35px;
}

.modal-box div {
	text-align: center;
}

.modal-box h3 {
	font-size: 2rem;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.close-modal {
	font-size: 2.3rem;
	margin-top: 0;
	text-align: left;
}


/* --------------- WISHLIST STYLING --------------- */
/* general wishlist styling */
.wishlist-container {
	position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: white;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.521);
    overflow-y: scroll;
    width: 40%;
	height: 100%;
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url('https://i.ibb.co/p20yrWZ/header-banner.jpg');
	background-position: 50% 80%;
	background-size: cover;
	background-attachment: fixed;
}

.wishlist-container h2 {
	font-family: 'Great Vibes', cursive;
	font-size: 4rem;
	margin: 30px 0 50px 0;
}

/* individual wishlist card styling */
.wishlist-card {
	width: 100%;
	max-width: 350px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	font-size: 1.5rem;
	font-family: 'Biryani', sans-serif;
	text-align: center;
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.wishlist-image img {
	width: 90%;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.wishlist-card p {
	margin-top: 15px;
}

.remove-btn {
	border: none;
	background-color: transparent;
	font-size: 3rem;
	cursor: pointer;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
	margin-left: 25px;
}

.remove-btn:hover,
.remove-btn:focus {
	color: #808080e0;
}


/* --------------- FOOTER STYLING --------------- */
footer {
    background-color: #8EAA83;
    padding: 16px 5px 10px 5px;
}

footer div {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

footer p {
	font-family: 'Biryani', sans-serif;
	font-size: 1.5rem;
	opacity: 0.5;
}

footer a {
	font-style: italic;
	opacity: 0.4;
}


/* --------------- MEDIA QUERIES --------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 950px) {
	/* HEADER SECTION */
	header {
		margin-bottom: 40px;
	}

	/* MAIN SECTION */
	.main-container {
		flex-direction: column;
	}

	.browse-aside {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}

	.browse-btns {
		align-items: center;
	}

	.wallpapers-section {
		width: 100%;
	}
}


/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 795px) {
	/* HEADER SECTION */
	h1 {
		font-size: 7rem;
	}

	/* MAIN SECTION */
	.wallpaper-card h2 {
		font-size: 1.7rem;
	}

	/* WISHLIST */
	.remove-btn,
	.exit-btn {
		font-size: 2.5rem;
	}

	.wishlist-container h2 {
		font-size: 3.3rem;
		margin: 30px 0 35px 0;
	}

	/* FOOTER SECTION */
	footer div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	footer p:first-child {
		margin-bottom: 8px;
	}
}


/* MINOR BREAKPOINT 1: extra breakpoint to aid in fluid responsiveness */
@media (max-width: 695px) {
	/* HEADER SECTION */
	header {
		min-height: 57vh;
	}
	
	h1 {
		font-size: 5rem;
		max-width: 500px;
	}

	header nav {
		height: 45px;
	}

	.nav-btn {
		font-size: 2.5rem;
	}

	/* MAIN SECTION */
	.wallpaper-card {
		width: calc(100% / 2 - 20px);
	}

	/* WISHLIST */
	.wishlist-container {
		text-align: center;
		width: 45%;
		padding: 20px 40px;
	}

	.wishlist-container h2 {
		font-size: 3.3rem;
		width: 115px;
		/* margin: 30px 0 50px 0; */
	}

	.wishlist-card {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.wishlist-image img {
		width: 100%;
	}

	.remove-btn {
		margin: 10px 0 0 0;
	}
}


/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
	/* HEADER SECTION */
	header {
		min-height: 50vh;
	}

	h1 {
		font-size: 4.5rem;
		max-width: 254px;
	}

	header nav {
		height: 45px;
	}

	.nav-btn {
		font-size: 2.5rem;
	}

	/* MAIN SECTION */
	.browse-container {
		font-size: 1.5rem;
	}

	.wallpaper-container {
		justify-content: center;
	}

	.wallpaper-card {
		width: 80%;
	}

	/* WISHLIST */
	.wishlist-container {
		width: 50%;
		padding: 20px 30px;
	}

	/* MODAL */
	.modal-box {
		width: 250px;
	}

	/* FOOTER SECTION */
	footer {
		text-align: center;
		font-size: 1.3rem;
	}

	footer p:first-child {
		max-width: 200px;
		margin-bottom: 15px;
	}

	footer p:last-child {
		max-width: 170px;
	}
}